//
   Created by qlba on 10.11.2016.

footer.Container#mainFooter
    p(align="center")
        a(href='/').FooterLink WikiEngine developers
        | |
        a(href='/').FooterLink Privacy policy
        | |
        a(href='/').FooterLink About WikiEngine

// ---- over