//
   Created by qlba on 27.10.2016.

doctype html
html(lang='ru')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/wikiengine/article/main.css')
    body
        block content
