
/* Global override of fonts */
body {
    box-sizing: border-box;

    /*border: 1px solid black;*/
    font-family: "Arial", sans-serif;

    /*margin: 0px;*/
}

code {
    font-family: "Courier New", monospace;
    background-color: #dfdfdf;
    color: black /*#00ff00*/ /*#00CD83*/;
    border: solid 1px #bfbfbf;
    border-radius: 3px;
    padding: 0 3px 0 3px;
}

blockquote {
    font-family: cursive;
    background-color: gainsboro;
    color: black /*#00ff00*/ /*#00CD83*/;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 5px;
}


.Container {

    /*margin: 8px;*/
    /*border: 1px solid #6188bb;*/
    /*border-radius: 10px;*/

}

.ArticleBodyBlock {

    /*border: 1px solid #ff0000;*/
    /*border-radius: 5px;*/
    padding-top: 20px;
    font-family: "Trebuchet MS", sans-serif;
}

.ArticleBodyBlock, #articleHead {
    font-family: "Trebuchet MS", sans-serif;
}

.ArticleBodyBlock h1 {
    font-size: 150%;
}


#leftNavPanel {
    float: left;
    width: 15%;

    padding: 0 10px 10px;
    box-sizing: border-box;
}

.LeftPanelNavLink {
    display: block;
}

.LinkGroup {
    font-size: 100%;
    margin-top: 20px;
    margin-bottom: 0;
}

#articleBox {
    float: right;
    width: 85%;
    box-sizing: border-box;
}

#articleBox {
    padding-left: 15px;

    border-left: solid black 1px;
    border-bottom: solid black 1px;

    /*border-top: hidden;*/
    border-radius: 10px;
}

#articleHead {
}

#articleHeadContent {
    display: flex;
}

#articleHeadLeft {
    float: left;

    /*max-width: 70%;*/
    margin-bottom: 30px;

    width: 70%

    /*flex-shrink: 1;*/
}

#articleBriefBox {

}

#articleContentsListBox {

}

#articleContentsList {
    border: 1px solid #00B7FF;
    border-radius: 10px;

    background: #DFF7FF;
    display: inline-block;
    padding-bottom: 10px;
}

.ContentsListSectionId, .ContentsListSectionName {
    padding-left: 10px;
    text-underline: none;
}

.ContentsListSectionName {
    padding-right: 10px;
}

#articleHeadRight {
    float: right;

    border: solid black 1px;
    border-top: hidden;
    border-right: hidden;
    border-radius: 10px;

    /*flex-basis: 30%;*/
    /*flex-shrink: 0;*/
    max-width: 30%;

    width: 30%;

    padding: 10px;
    margin-left: 20px;
}

#articleHeadRight h3 {

    /*margin: 10px;*/
    /*wrap: off;*/
}

#articleRightTableBox {

}

#imageParagraph {
}

#rightTableImage {
    width: 150px;
}

.RightTableCell {
    font-size: 80%;
    padding: 3px;

    vertical-align: top;
}

#articleBody {
    clear: both;
}


.EditPanel {
    padding: 4px;

    background-color: #BFEDFF;
    border-radius: 4px;
    border: 1px solid #6188bb;

    display: inline-block;
}

.EditPanel button {
    margin: 4px;
}

/*
Special colors:
6188bb -- wikipedia darkened
00B7FF -- wikipedia
*/
