
extends ../generic/generic


block head_data
    - var head = {};
    - head.styles = ['/stylesheets/login/main.css'];
    - head.title = 'Log in WikiEngine';

block body

    script(src="/javascripts/login/cryptography/crypt.js")

    input(type="hidden", value=key)#publicKey

    #loginDiv(align="center")
        div#loginForm
            table
                tr
                    td
                        | Username
                    td
                        input(type="text" placeholder="Username")#usernameField
                tr
                    td
                        | Password
                    td
                        input(type="password" placeholder="Password")#passwordField
                tr
                    td(colspan="2" align="center")
                        button#submitButton Log in
                        button#signupButton Sign up

    div(align="center")
        #statusLine

    script(src="/javascripts/login/main.js")
