
extends ../generic/generic


block head_data
    - var head = {};
    - head.styles = ['/stylesheets/article/main.css'];
    - head.title = 'WikiEngine - home';

block body
    h1 Welcome to WikiEngine

