//
   Created by qlba on 10.11.2016.

doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        link(rel='stylesheet', href='/stylesheets/wikiengine/article/main.css')
        title= article.name + ' - WIKIENGINE'
    body
        block content
